
<p>Cab Booking APP</p>

<!-- <ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Schedule Cab</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Fare Information</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Areas Serve</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Contact Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Login </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Sign Up</a>
  </li>
</ul> -->